/* Couleurs pour les liens de la navbar */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,0.9);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255,255,255,1);
}

/* Style pour le bouton de menu déroulant */
.navbar-dark .navbar-toggler {
  border-color: rgba(255,255,255,0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.text-retour {
  color: rgba(255,255,255,0.9);
}

.text-noir {
  color: black;
}
.text-noir:hover {
  color: gray;
}

select {
  margin-left: 20px;
}

.label-revision {
  margin-left: 20px;
}

.marge-haut {
  margin-top: 20px;
}

.marge-gauche {
  margin-left: 5px;
}